@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(43, 31, 47)
    )
    rgb(2,2,2);
}